* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: vazir;
}

@font-face {
     font-family: vazir;
     src: url(vazir-font-v27.2.2-Fontjo.com/Vazir-Black.eot), url(vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff), url(vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.ttf);
}

body {
     direction: rtl;
     display: flex;
     align-items: center;

     height: 100vh;
     justify-content: center;
     flex-direction: column;
}

form {
     display: flex;
     flex-direction: column;
     margin-top: 1rem;
     align-items: center;
     position: relative;
}

section {
     display: flex;
     margin-top: 2rem;

}

input {
     padding: .2rem;
     margin-right: .5rem;
     border-radius: 15px;

     border: 2px solid darkgoldenrod;
}

#weight {
     margin-bottom: 3rem;
}

#btn {
     padding: .1rem 3rem;
     border-radius: 13px;
     margin-top: 2rem;
     position: absolute;
     bottom: 0;
     right: 0;
     cursor: pointer;
     background-color: rgb(3, 84, 100);
     color: #fff;
}

.img {
     height: 80px;
     margin-bottom: 1rem;
}