* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     direction: rtl;
     list-style: none;
     font-family: vazir;

}

@font-face {
     font-family: vazir;
     src: url(asstes/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.eot), url(asstes/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff), url(asstes/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff2), url(asstes/vazir-font-v27.2.2-Fontjo.com/Vazir-Thin.ttf);
}

header {
     text-align: center;
     width: 100%;
}

header img {
     width: 50px;
}

body {
     background-color: #5a6886;

}

.container {
     padding: 0 10%;
     width: 100%;
     min-height: 100vh;
}

.menu {
     width: 100%;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     background-color: #2d3e50;
     margin: 1rem 0;
     border-radius: .3rem;
}

.menu img {
     width: 20px;
}

.menu a {
     margin: 0 .6rem;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-family: vazir;
     font-size: .7rem;
     display: block;
     display: block;
     padding: .7rem;
}


.menu a:hover {
     background-color: #20b999;
}

main {
     width: 100%;
     min-height: 100vh;
     border-top: 8px solid green;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     direction: ltr;
}

.left-side {
     width: 70%;
     min-height: 100vh;
     background-color: white;
     text-align: center;
}

.top {
     width: 100%;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.headphone {
     width: 50px;
}

.right-side {
     width: 28%;
     background-color: white;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: .6rem;


}

.part {
     width: 100%;
     height: 70px;
     border-radius: .8rem;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.228);
     margin: 0.5rem 0;
}

.first {
     background-image: url(assets/big.png);

}

.second {
     background-image: url(assets/banner.png);
}

.third {
     background-image: url(assets/masnavi.png);
}

.fourth {
     background-image: url(assets/hezar.png);
}

.fifth {
     background-image: url(assets/child.png);
}

.stories {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     grid-gap: .5rem;
     padding: .5rem;

}

.story {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 1rem;
     height: 500px;
}

.stories img {
     width: 100%;
}

h2 {
     background-color: rgba(242, 243, 240, 0.652);
}

p {
     font-size: .8rem;
     text-align: justify;
     color: rgb(98, 94, 94);
}


.bottom {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: .4rem .3rem;
     background-color: #0582b7;
}

h4 {
     font-size: .5rem;
     color: #fff;
     ;
}

h5 {
     color: #fff;
     font-size: .5rem;
}

.bottom img {
     width: 20px;
}

.moc {
     display: flex;
     align-items: center;
}

@media(max-width:560px) {
     main {
          flex-direction: column;
     }

     .left-side {
          width: 100%;
     }

     .right-side {
          width: 100%;
          margin-top: 2rem;
     }

     .part {
          margin-top: 1rem;
     }

}

@media(max-width:410px) {

     .container {
          padding: 5%;
     }

     .menu a {
          font-size: .7em;
     }

}